*.pdf
*.aux
*.log
*.out
*.bbl
*.blg
*~
*.pyc
*.gz
.eggs/
auto/
.idea/
.cache/
.env
pwmodel
helper.py
.tox/
*.rst

# Random test file
src/word2keypress/a.py

build/
dist/
MANIFEST
word2keypress.egg-info/
# word2keypress/_keyboard.c
.ipynb_checkpoints/
*.so
.pytest_cache/

README
